@model SoftUniContests.BusinessObjects.ViewModels.MyPanelViewModel

@{
    ViewBag.Title = "My Panel";
}

<h2>My Panel</h2>

<div class="col-lg-12">
    <h3>Contests</h3>
    <div>
        <a href="/MyPanel/CreateContest">
            <button class="btn btn-success">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
        </a>
    </div>
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Deadline Strat</th>
                <th>Participation Strat</th>
                <th>Reward Strat</th>
                <th>Vote Strat</th>
                <th>DD</th>
                <th>DU</th>
                <th>Commands</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Contests)
            {
                <tr id="contest-@(item.ContestID)">
                    <td>@item.ContestID</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.DeadlineStrategy</td>
                    <td>@item.ParticipationStrategy</td>
                    <td>@item.RewardStrategy</td>
                    <td>@item.VoteStrategy</td>
                    <td>@item.DeadlineDate</td>
                    <td>@item.DeadlineParticipants</td>
                    <td>
                        <button class="btn btn-danger delete" data-id="@item.ContestID">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                        <button class="btn btn-warning edit" data-id="@item.ContestID">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $(".delete").click(function () {
                if (confirm("Are you sure you want to delete the contest?")) {
                    var id = $(this).attr("data-id");
                    var url = "@(Url.Action("DeleteContest", "MyPanel"))";
                    $.post(url, { contestID: id }, function (data) {
                        if (data.IsSuccess) {
                            $("#contest-" + id).slideUp();
                        }
                        else {
                            alert(data.Message);
                        }
                    });
                }
            });
        });
    </script>
}